#urlBox  {
           width : 298px;
           
         }
#text1   {
           color : #00AA00;
           font-style : italic;
         }
#wView   {
           width : 100%;
           height : 94%;
         }

